{% for dep in dependencies %}
{{ dep }}
{% endfor %}

def run(args, session_service: SessionService, prompt_service: PromptService):
    """
    {{ description }}
    """
    # TODO: Implement {{ name }} delegate logic here
    pass
