services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.web
    ports:
      - '5001:5001'
    depends_on:
      - lsp
    environment:
      - FLASK_APP=pipe.web.app
      - FLASK_ENV=development
      - PYTHONPATH=/app/src
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/__pycache__
    command: flask run --host=0.0.0.0 --port=5001

  react:
    build:
      context: .
      dockerfile: docker/Dockerfile.react
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - lsp
    command: npm start

  lsp:
    build:
      context: .
      dockerfile: docker/Dockerfile.python
    ports:
      - '2087:2087' # pygls default port, adjust if needed
    environment:
      - PYTHONPATH=/app/src
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/__pycache__
    command: python -m src.pipe.cli.pygls_server --tcp --host 0.0.0.0 --port 2087
    restart: unless-stopped

  storybook:
    build:
      context: .
      dockerfile: docker/Dockerfile.storybook
    ports:
      - '6006:6006'
    volumes:
      - .:/app
      - /app/node_modules
    profiles:
      - storybook
