{% macro render_constraints_macro(data) %}{
  "description": {{ data.description | tojson }},
  "language": {{ data.language | tojson }},
  "processing_config": {
    "description": {{ data.processing_config.description | tojson }},
    "multi_step_reasoning_active": {{ data.processing_config.multi_step_reasoning_active | tojson }}
  }{% if data.hyperparameters %},
  "hyperparameters": {
    "description": {{ data.hyperparameters.description | tojson }},
    "temperature": {
      "type": {{ data.hyperparameters.temperature.type | tojson }},
      "value": {{ data.hyperparameters.temperature.value | tojson }},
      "description": {{ data.hyperparameters.temperature.description | tojson }}
    },
    "top_p": {
      "type": {{ data.hyperparameters.top_p.type | tojson }},
      "value": {{ data.hyperparameters.top_p.value | tojson }},
      "description": {{ data.hyperparameters.top_p.description | tojson }}
    },
    "top_k": {
      "type": {{ data.hyperparameters.top_k.type | tojson }},
      "value": {{ data.hyperparameters.top_k.value | tojson }},
      "description": {{ data.hyperparameters.top_k.description | tojson }}
    }
  }{% endif %}
}{% endmacro %}
