{% from "description.j2" import render_description_macro %}
{% from "session_goal.j2" import render_session_goal_macro %}
{% from "roles.j2" import render_roles_macro %}
{% from "constraints.j2" import render_constraints_macro %}
{% from "main_instruction.j2" import render_main_instruction_macro %}
{% from "conversation_history.j2" import render_conversation_history_macro %}
{% from "current_task.j2" import render_current_task_macro %}
{% from "advanced_reasoning_flow.j2" import render_advanced_reasoning_flow_macro %}
{
  "description": {{ render_description_macro(session.description) }},
  "session_goal": {{ render_session_goal_macro(session.session_goal) }},
  "roles": {{ render_roles_macro(session.roles) }},
  "constraints": {{ render_constraints_macro(session.constraints) }},
  "main_instruction": {{ render_main_instruction_macro(session.main_instruction) }},
  "current_task": {{ render_current_task_macro(session.current_task) }}
  {% if session.constraints.processing_config.multi_step_reasoning_active %},
  "reasoning_process": {{ render_advanced_reasoning_flow_macro(session.constraints.processing_config.multi_step_reasoning_active) }}
  {% endif %}
}
