{% from "description.j2" import render_description_macro %}
{% from "main_instruction.j2" import render_main_instruction_macro %}
{% from "constraints.j2" import render_constraints_macro %}
{% from "session_goal.j2" import render_session_goal_macro %}
{% from "procedure.j2" import render_procedure_macro %}
{% from "roles.j2" import render_roles_macro %}
{% from "conversation_history.j2" import render_conversation_history_macro %}
{% from "file_references.j2" import render_file_references_macro %}
{% from "artifacts.j2" import render_artifacts_macro %}
{% from "advanced_reasoning_flow.j2" import render_advanced_reasoning_flow_macro %}
{% from "todos.j2" import render_todos_macro %}
{% from "current_task.j2" import render_current_task_macro %}
{
  "description": {{ render_description_macro(prompt.description) }},
  "main_instruction": {{ render_main_instruction_macro() }},
  "constraints": {{ render_constraints_macro(prompt.constraints) }},
  "session_goal": {{ render_session_goal_macro(prompt.session_goal) }},
  {% if prompt.procedure %}
  "procedure": {{ render_procedure_macro(prompt.procedure, prompt.procedure_content) }},
  {% endif %}
  {% if prompt.roles and prompt.roles.definitions | length > 0 %}
  "roles": {{ render_roles_macro(prompt.roles) }},
  {% endif %}
  "conversation_history": {{ render_conversation_history_macro(prompt.conversation_history) }},
  {% if prompt.file_references %}
  "file_references": {{ render_file_references_macro(prompt.file_references) }},
  {% endif %}
  {% if prompt.artifacts and prompt.artifacts | length > 0 %}
  "files_to_be_modified": {{ render_artifacts_macro(prompt.artifacts) }},
  {% endif %}
  {% if prompt.constraints.processing_config.multi_step_reasoning_active %}
  "reasoning_process": {{ render_advanced_reasoning_flow_macro(prompt.constraints.processing_config.multi_step_reasoning_active) }},
  {% endif %}
  {% if prompt.todos %}
  "todos": {{ render_todos_macro(prompt.todos) }},
  {% endif %}
  "current_task": {{ render_current_task_macro(prompt.current_task) }},
  "current_datetime": "{{ prompt.current_datetime }}"
}