{% from "file_references.j2" import render_file_references_macro %}
{% from "artifacts.j2" import render_artifacts_macro %}
{% from "todos.j2" import render_todos_macro %}
{% from "current_task.j2" import render_current_task_macro %}
{% from "conversation_history.j2" import render_conversation_history_macro %}
{
  {% if session.buffered_history %}
  "buffered_conversation": {{ render_conversation_history_macro(session.buffered_history) }},
  {% endif %}
  {% if session.file_references %}
  "file_references": {{ render_file_references_macro(session.file_references) }},
  {% endif %}
  {% if session.artifacts and session.artifacts | length > 0 %}
  "files_to_be_modified": {{ render_artifacts_macro(session.artifacts) }},
  {% endif %}
  {% if session.todos %}
  "todos": {{ render_todos_macro(session.todos) }},
  {% endif %}
  "current_task": {{ render_current_task_macro(session.current_task) }},
  "current_datetime": "{{ session.current_datetime }}"
}
