{% for dep in dependencies %}
from pipe.core.services.{{ dep.lower() }} import {{ dep }}
{% endfor %}


class {{ name }}:
    """
    {{ description }}
    """
    def __init__(self, {% for dep in dependencies %}{{ dep.lower() }}: {{ dep }}{% if not loop.last %}, {% endif %}{% endfor %}):
        {% for dep in dependencies %}
        self.{{ dep.lower() }} = {{ dep.lower() }}
        {% endfor %}

    {% for method in methods %}
    def {{ method.name }}({{ method.args }}) -> {{ method.returns }}:
        """
        {{ method.docstring }}
        """
        # TODO: Implement {{ method.name }} logic here
        pass
    {% endfor %}
