from collections import UserList
{% for dep in dependencies %}
{{ dep }}
{% endfor %}


class {{ name }}Collection(UserList):
    """
    {{ description }}
    """
    def __init__(self, data: list | None = None):
        super().__init__(data if data is not None else [])

    {% for method in methods %}
    def {{ method.name }}({{ method.args }}) -> {{ method.returns }}:
        """
        {{ method.docstring }}
        """
        # TODO: Implement {{ method.name }} logic here
        pass
    {% endfor %}
