from typing import Optional
{% for dep in dependencies %}
{{ dep }}
{% endfor %}


class {{ name }}(BaseModel):
    """
    {{ description }}
    """
    content: str
    file_path: Optional[str] = None
