{% for dep in dependencies %}
{{ dep }}
{% endfor %}


def {{ name.lower() }}_logic(data: dict) -> dict:
    """
    {{ description }}
    """
    # TODO: Implement {{ name.lower() }} logic here
    pass
